body{
    background-color: rgb(255, 255, 255);
    font-weight: bold;
    color: rgb(0, 0, 0);
    content: "Āboli.lv";
}
h1.pirmais {
    text-align: center;
    font-size: 60px;
    font-family: Verdana;
}