body{
    background-color: rgb(255, 255, 255);
}
h1.pirmais{
    text-align: center;
    font-size: 60px; 
    font-family: Verdana;
  
}
h2.pirmais {
    text-align: center;
    font-size: 25px;
    font-family: Helvetica;
    text-decoration: none; 
   background-color: none;
   color:rgb(0, 0, 0) ;
   
}
h3.pirmais {
    text-align: center;
    font-size: 25px;
    font-family: Helvetica;
    text-decoration: none; 
   background-color: none;
   color:rgb(0, 0, 0);
}
p.pirmais {
    text-align: center;
    font-size: 24px;
    font-family: Helvetica;
    font-weight: bold;
}
b.pirmais {
  text-align: center;
  font-size: 24px;
  font-family: Helvetica;
  font-weight: bold;
}


/* aboliem */
#trending {
    margin-top: 100px;
  }
  
  .review1 {
    border: 2px solid rgb(141, 140, 140);
    text-align: center;
    display: inline-block;
    margin: 15px;
  }
  
  .rowContainer {
    display: flex;
    align-items: center;
    justify-content: center;
}




/* Bordered form */
form {
  border: 3px solid #f1f1f1;
}

/* Full-width inputs */
input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

/* Set a style for all buttons */
button {
  background-color: #04AA6D;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

/* Add a hover effect for buttons */
button:hover {
  opacity: 0.8;
}

/* Add padding to containers */
.container {
  padding: 16px;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
span.psw {
    display: block;
    float: none;
 }
}
a:hover{
  text-decoration: none;
}

