body{
    background-color: rgb(255, 255, 255);
}
h1.pirmais {
    text-align: center;
    font-size: 60px;
    font-family: Verdana;
}
h2.pirmais {
    text-align: center;
    font-size: 25px;
    font-family: Helvetica;
    text-decoration: none; 
   background-color: none;
   color:rgb(0, 0, 0);
}
h3.pirmais {
    text-align: center;
    font-size: 25px;
    font-family: Helvetica;
    text-decoration: none; 
   background-color: none;
   color:rgb(0, 0, 0);
}
p.pirmais {
    text-align: center;
    font-size: 24px;
    font-family: Helvetica;
    font-weight: bold;
}
#trending {
    margin-top: 100px;
  }
  
  .review1 {
    border: 2px solid rgb(141, 140, 140);
    text-align: center;
    display: inline-block;
    margin: 15px;
  }
  
  .rowContainer {
    display: flex;
    align-items: center;
    justify-content: center;
  }